    </div> <!-- /#wrapper -->

    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <h2 class="major">Kapcsolat</h2>
            <p>Készítette: Ölvödi Soma FKMEUC és Janik Miklós Balázs AAKXBU.</p>
            <ul class="copyright">
                <li>&copy; Hyperspace Cinema Network. Minden jog fenntartva.</li>
                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>

    <!-- Scripts: eredeti Hyperspace sorrendben -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>
