<%- include("partials/header") %>

<section id="main">
    <div class="inner">
        <h2>Regisztráció</h2>

        <form method="POST" action="/register">
            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Jelszó:</label>
            <input type="password" name="password" required>

            <button type="submit">Regisztráció</button>
        </form>
    </div>
</section>

<%- include("partials/footer") %>
